body{
font-family: 'Ubuntu', sans-serif;
margin: 0;
background: url(../img/background.png);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
.header {
background: rgba(0, 0, 0, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-items {
max-width: 1366px;
margin-left: auto;
margin-right: auto;
padding: 18px 79px;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}
.header-title, .header-title-link {
flex-grow: 1;
font-weight: 700;
font-size: 22px;
line-height: 22px;
color: #FFFFFF;
}
.header-title-link:hover{
color: #3CB878;
}
.header-text {
font-size: 14px;
line-height: 14px;
color: #FFFFFF;
}
.header-text>a{
color: #FFFFFF;
}
.header-text>a:hover{
color: #3CB878;
}
.icons-svg{
margin-right: 25px;
}

.link-header-icon:hover path{
fill: #3CB878;
}
.header-text::before{
content: "";
display: inline-block;
background-image: url(../img/line.svg);
width: 1px;
height: 19px;
margin-right: 25px;
background-repeat: no-repeat;
vertical-align: middle;
background-size: contain;
}
.main{
margin-top: 54px;
height: 100%;
display:flex;
justify-content: center;
align-items: center;
}
.form-wrapper{
margin: auto;
position: relative;
background: #FFFFFF;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
width: 444px;
min-height: 584px;
}

.user-data{
font-size: 14px;
line-height: 14px;
color: #434343; 
padding: 15px 19px;
width: 322px;
min-height: 45px;
margin-bottom: 15px;
margin-top: 10px;
border: 1px solid #F2F2F2;
border-radius: 4px;
}
.user-data:focus{
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);  
transition: 0.5s;
}

.terms-conditions {
font-size: 14px;
line-height: 14px;
color: #434343;
}
.terms-conditions-link {
color:#3CB878;
}
::placeholder{
color: #BEBEBE;
font-size: 14px;
line-height: 14px;
}
.form-content {
margin-left: auto;
margin-right: auto;
padding-top: 30px;
width: 324px;
}
.form-title {
display: flex;
justify-content: space-between;
align-items: flex-end;
font-weight: inherit;
font-size: 20px;
line-height: 20px;
color: #434343;
}
.form-title::before{
content: "";
position: absolute;
top: 29px;
left: 0;
width: 18px;
height: 18px;
background: #3CB878; 
}
.form-link {
font-size: 14px;
line-height: 14px;
color: #3CB878
}
.form-link:hover{
text-decoration:underline;
}
.login-links{
margin-top: 15px;
display: flex;
justify-content: space-between;
}
.login-link-item {
display: flex;
justify-content: flex-end;
align-items: center;
border-radius: 4px;
min-width: 160px;
max-height: 48px;
padding: 17px 20px;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
}
.facebook{
background: #305DB8 url(../img/facebooklogbutton.svg);
z-index: 1;
position: relative;
background-repeat: no-repeat;
background-size:auto;
background-position:16px 12px;
}
.google{
background: #DF4A32 url(../img/G+.svg);
background-repeat: no-repeat;
background-size:auto;
background-position:16px 15px;
}
.facebook::before{
content: "";
background: #0A162F url(../img/Rectangle.svg);
width: 1px;
height: 28px;
display: inline-block;
vertical-align: middle;
opacity: 0.1;
margin-right: 18px;
}
.facebook:hover{
background-color: #022263;
}
.google::before{
content: "";
background: #2B0D09 url(../img/Rectangle.svg);
width: 1px;
height: 28px;
display: inline-block;
vertical-align: middle;
opacity: 0.1;
margin-right: 30px;
}
.google:hover{
background-color: #AB1F09;
}
.or-line {
margin-top: 30px;
font-size: 14px;
line-height: 14px;
color: #848484;
}
.or-line::before{
content: "";
width: 150px;
height: 1px;
background-image: url(../img/line.svg);
background-color: #F2F2F2;
vertical-align: middle;
margin-right: 5px;
display: inline-block;
}
.or-line::after{
content: "";
width: 150px;
height: 1px;
background-image: url(../img/line.svg);
background-color: #F2F2F2;
vertical-align: middle;
margin-left: 5px;
display: inline-block;
}
button[type="submit"]{
color: #fff;
margin-top: 20px;
margin-bottom: 40px;
background: rgba(60, 184, 120, 0.8);
border-radius: 4px;
border: none;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
padding: 15px 19px;
min-width: 322px;
min-height: 45px;
cursor: pointer;
}

button[type="submit"]:active{
border: 2px solid #fff;
}
button[type="submit"]:hover{
background: #01813F;
}